LLM_MODEL_NAME=gpt-4o

# Configurações do SQL Server
MSSQL_SERVER=FAMILIA\SQLJR,1433
MSSQL_DATABASE=Projeto_Caculinha
MSSQL_USER=AgenteVirtual
MSSQL_PASSWORD=Cacula@2020

# Driver ODBC
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUST_SERVER_CERTIFICATE=yes



